
.container{
	display: flex;
	border-radius: 8px;
	height: 810px;
	width: 100%;
}

.background{
	background:brown;
	border-radius:8px;
	height:100%;
	width: 100%;
}

.topbar{
	display:inline-flex;
	background:black;
	height:30px;
	border-radius:8px;
	margin-bottom: 10px;
	width:100%;
	justify-content: space-around;
}

.main{
	display:inline-flex;
	height:90%;
	width:100%;
	justify-content: center;
	flex-wrap: wrap;

}

.online-menu{
	display:none;
	width:100%;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.online{
	display:inline-flex;
	height:90%;
	width:100%;
	justify-content: center;
	flex-wrap: wrap;
	background-color: green;
}

.offline{
	display:inline-flex;
	height:90%;
	width:100%;
	justify-content: center;
	flex-wrap: wrap;
}

.list{
	border-radius: 8px;
	width: 60%;
	height: 80%;
	overflow-y: auto;
	float: right;
}

.people{
	border-radius:8px;
	background:brown;
	width:30%;
	height: 80%;
	overflow-y: auto;
}

.conversation{
	border-radius: 8px;
	width:60%;
	height:80%;
	overflow-y: auto;
	float: right;
}

.chat_message{
	display: inline-flex;
	flex-wrap: wrap;
	background: white;
	border-radius: 8px;
	padding: 20px 8px 8px 8px;
	text-align: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.time{
	width:20%;
}

.text{
	width:80%;
}

.title{
	font-size: 17px;
	margin-left: 10px;
}

.Loading{
	text-align: center;
	margin:0;
}

hr{
	margin-top: 0px;
}

.messages{
	text-align: center;
	margin:auto;
	width:90%;
}

.volume{
	margin-top: 5px;
	padding-left: 10px;
	font-size:20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  top:6.2px;
  left:3px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.plus{
	width:20%;
	font-size:20px;
	padding-left: 100px;
	padding-right: 30px;
}

.mini{
	text-align: center;
	display:block;
	width:180.796875px;
	background-color: brown;
	height: 100%;
	border-radius: 50px;

}

.glyphicon-plus-sign{
	top:5px;
	color:white;
	margin-right:5px;
}

.glyphicon-envelope{
	font-size:12px;
	top:1px;
	/*background-color: white;*/
	height:80.5%;
	width:25%;
	text-align: center;
	/*color:black;*/
	padding-top: 1px;
	margin-top: 7px;
}

.glyphicon-hdd{
	font-size:12px;
	top:1px;
	height:80.5%;
	width:25%;
	text-align: center;
	/*color:black;*/
	padding-top: 1px;
	margin-top: 7px;
}

.glyphicon-user{
	font-size:12px;
	top:1px;
	/*background-color: white;*/
	height:80.5%;
	width:25%;
	text-align: center;
	/*color:black;*/
	padding-top: 1px;
	margin-top: 7px;
}

.interfaceOn{
	font-size:12px;
	top:1px;
	background-color: white;
	height:80.5%;
	width:25%;
	text-align: center;
	margin-left: 5px;
	color:white;
	padding-top: 1px;
}

.right{
	text-align: right;
	display:block;
	width:20%;
	height:60%;
	margin-top:7px;
	border-radius: 50px;
}

.glyphicon-minus-sign{
	font-size:15px;
	top:2px;
	color: white;
	height:60%;
	width:0%;
	text-align: center;
}

.glyphicon-fullscreen{
	font-size:15px;
	top:2px;
	background-color: white;
	color: white;
	height:60%;
	width:0%;
	text-align: center;
}

.glyphicon-remove-sign{
	font-size:15px;
	top:2px;
	color: white;
	height:60%;
	width:24%;
}

.glyphicon-triangle-top{
	text-align: center;
	margin:auto;
}

.input{
	display:block;
	margin:auto;
	width:60%;
	bottom:100px;
	float: right;

}

input{
	bottom:0px;
	width:100%;
}

#post{
	width:100%;
}

.person{
	display:inline-block;
	height:20%;
	width:100%;
}

.image{
	margin-bottom: 30px;
	width:25%;
	margin-left:10px;
	margin-right: 10px;
}

.person_name{
	display:inline-block;
	width:50%;
}

.name{
	height:10%;
	width:100%;
	font-size:15px;
	margin-bottom:2px;
}

.job{
	width:100%;
	font-size:14px;

}

#message{
	display:none;
}

#settings{
	display:none;
	flex-direction: column;
    height: 100%;
}

.option{
	display:block;
	margin:auto;
	margin-top: 20px;
	background-color: white;
	width:80%;
	height:400px;
	border-radius:8px;
	padding-top: 80px;
}

.field{
	background-color: rgb(208,210,216);
}

.settingLabel{
	margin-left:55px;
}

.group{
	display: inline-flex;
    justify-content: space-between;
    width: 90%;
}

.click{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    top: 0.2px;
    left:-27px;
}

.font-style .color-style{
    position: relative;
    left: 9px;
    margin-bottom: 5px;
}

.georgia{
	font-family: 'georgia';
}

.palatino{
	font-family: 'palatino';
}

.times {
	font-family: 'Times';
}

.helvetica{
	font-family: 'helvetica';
}

